<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="/furama/layout :: head"></div>
<body>
<div th:replace="/furama/layout :: menu"></div>
<h1>View Contract</h1>
<table border="1">
    <tr>
        <th>contractCode</th>
        <th>contractStartDate</th>
        <th>contractEndDate</th>
        <th>contractDeposit</th>
        <th>contractTotalMoney</th>
        <th>employee</th>
        <th>customer</th>
        <th>serviceResort</th>
        <th>Update</th>
        <th>Delete</th>
        <th>View</th>

    </tr>
    <tr>
        <td th:text="${contract.contractCode}"></td>
        <td th:text="${contract.contractStartDate}"></td>
        <td th:text="${contract.contractEndDate}"></td>
        <td th:text="${contract.contractDeposit}"></td>
        <td th:text="${contract.contractTotalMoney}"></td>
        <td th:text="${contract.employee.name}"></td>
        <td th:text="${contract.customer.name}"></td>
        <td th:text="${contract.serviceResort.serviceType.serviceTypeName}"></td>
        <td><a th:href="@{/contract/admin/{id}/update(id=${contract.contractId})}">update</a></td>
        <td><a th:href="@{/contract/admin/{id}/delete(id=${contract.contractId})}">delete</a></td>
        <td><a th:href="@{/contract/user/{id}/view(id=${contract.contractId})}">view</a></td>
    </tr>
</table>
<div th:replace="/furama/layout :: footer"></div>
</body>
</html>