<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/blog/create" method="post" th:object="${blog}">
    <p>topic: </p>
    <input th:field="*{topic}"/>
    <p>content</p>
    <input  th:field="*{content}"/>
    <select th:field="*{category}">
        <option th:each="category : ${categoryList}" th:value="${category.idCategory}" th:text="${category.nameCategory}"></option>
    </select>
    <input type="submit" value="create">
</form>
</body>
</html>