<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<p style="color: blue" th:text="${messenger}"></p>
<body>
<form action="/customer/admin/create" method="post" th:object="${customer}">
    <p>customerCode: </p>
    <input th:field="*{customerCode}"/>
    <p>customerName</p>
    <input  th:field="*{name}"/>
    <p>customerDateOfBirth: </p>
    <input type="date" th:field="*{dateOfBirth}"/>
    <p>customerGender</p>
    <input  th:field="*{gender}"/>
    <p>customerCardId: </p>
    <input th:field="*{cardId}"/>
    <p>customerPhoneNumber</p>
    <input  th:field="*{phoneNumber}"/>
    <p>customerEmail: </p>
    <input th:field="*{email}"/>
    <p>customerAddress</p>
    <input  th:field="*{address}"/>
    <select th:field="*{customerType}">
        <option th:each="customerType : ${customerTypes}" th:value="${customerType.customerTypeId}" th:text="${customerType.customerTypeName}"></option>
    </select>
    <input type="submit" value="create">
</form>
</body>
</html>