<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="/furama/layout :: head"></div>
<body>
<div th:replace="/furama/layout :: menu"></div>
<h1>Update Customer</h1>
<div >
    <form th:action="@{/customer/admin/update}" th:object="${customer}"
          method="post"  >
        <input type="hidden" th:field="*{customerId}"/>
        <p>customerCode: </p>
        <input type="hidden" th:field="*{customerCode}" />
        <p>customerName</p>
        <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        <input  th:field="*{name}" th:text="*{name}"/>
        <p>customerDateOfBirth: </p>
        <p style="color: red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></p>
        <input type="date" th:field="*{dateOfBirth}" th:text="*{dateOfBirth}"/>
        <p>customerGender</p>
        <select th:field="*{gender}">
            <option th:value="Male">Male</option>
            <option th:value="FeMale">FeMale</option>
        </select>
        <p>customerCardId: </p>
        <p style="color: red" th:if="${#fields.hasErrors('cardId')}" th:errors="*{cardId}"></p>
        <input th:field="*{cardId}" th:text="*{cardId}"/>
        <p>customerPhoneNumber</p>
        <p style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
        <input  th:field="*{phoneNumber}" th:text="*{phoneNumber}"/>
        <p>customerEmail: </p>
        <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        <input th:field="*{email}" th:text="*{email}"/>
        <p>customerAddress</p>
        <p style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
        <input  th:field="*{address}" th:text="*{address}"/>
        <select th:field="*{customerType}">
            <option th:each="customerType : ${customerTypes}" th:value="${customerType.customerTypeId}" th:text="${customerType.customerTypeName}"></option>
        </select>
        <input type="submit" value="Update">
    </form>
</div>
<div th:replace="/furama/layout :: footer"></div>
</body>
</html>