<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer List</title>
</head>
<body>

</div>
<p><a href="/customer/create-page">Create Customer</a></p>


<form action="" method="post">
    <label>Topic: </label>
    <input name="topic">
    <button type="submit">Search</button>
</form>


<p style="color: blue" th:text="${messenger}"></p>

<h1>Customer List</h1>
<table border="1">
    <tr>
        <th>Number</th>
        <th>Customer Code</th>
        <th>customerName</th>
        <th>customerDateOfBirth</th>
        <th>customerGender</th>
        <th>customerCardId</th>
        <th>customerPhoneNumber</th>
        <th>customerEmail</th>
        <th>customerAddress</th>
        <th>customerType</th>
        <th>Edit</th>
<!--        <th>Delete</th>-->
<!--        <th>View</th>-->

    </tr>
    <tr th:each="customer,iterStar : ${customers}">
        <td th:text="${iterStar.count}"></td>
        <td th:text="${customer.customerCode}"></td>
        <td th:text="${customer.customerName}"></td>
        <td th:text="${customer.customerDateOfBirth}"></td>
        <td th:text="${customer.customerGender}"></td>
        <td th:text="${customer.customerCardId}"></td>
        <td th:text="${customer.customerPhoneNumber}"></td>
        <td th:text="${customer.customerEmail}"></td>
        <td th:text="${customer.customerAddress}"></td>
        <td th:text="${customer.customerType.customerTypeName}"></td>
        <td><a th:href="@{{id}/update(id=${customer.customerId})}">update</a></td>
<!--        <td><a th:href="@{{id}/delete(id=${blog.id})}">delete</a></td>-->
<!--        <td><a th:href="@{{id}/view(id=${blog.id})}">view</a></td>-->
    </tr>
</table>

<!--<span>-->
<!--    <a th:if="${blogPage.hasPrevious()}" th:href="@{/blog/(page = ${blogPage.number - 1})}">-->
<!--        Previous-->
<!--    </a>-->
<!--     <a th:if="${blogPage.hasNext()}" th:href="@{/blog/(page = ${blogPage.number + 1})}">-->
<!--        Next-->
<!--    </a>-->
<!--    <p>-->
<!--        <span th:each="pageNo: ${#numbers.sequence(0,blogPage.totalPages - 1)}">-->
<!--            <a th:href="@{/blog/(page = ${pageNo})}" th:text="${pageNo}"></a>-->
<!--        </span>-->
<!--    </p>-->
<!--</span>-->
</body>
</html>