<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Update Customer</h1>
<div >
    <form th:action="@{/customer/update}" th:object="${customer}"
          method="post"  >
        <input type="hidden" th:field="*{customerId}"/>
        <p>customerCode: </p>
        <input th:field="*{customerCode}" th:text="*{customerCode}"/>
        <p>customerName</p>
        <input  th:field="*{customerName}" th:text="*{customerName}"/>
        <p>customerDateOfBirth: </p>
        <input type="date" th:field="*{customerDateOfBirth}" th:text="*{customerDateOfBirth}"/>
        <p>customerGender</p>
        <input  th:field="*{customerGender}" th:text="*{customerGender}"/>
        <p>customerCardId: </p>
        <input th:field="*{customerCardId}" th:text="*{customerCardId}"/>
        <p>customerPhoneNumber</p>
        <input  th:field="*{customerPhoneNumber}" th:text="*{customerPhoneNumber}"/>
        <p>customerEmail: </p>
        <input th:field="*{customerEmail}" th:text="*{customerEmail}"/>
        <p>customerAddress</p>
        <input  th:field="*{customerAddress}" th:text="*{customerAddress}"/>
        <select th:field="*{customerType}">
            <option th:each="customer : ${customerTypes}" th:value="${customer.customerTypeId}" th:text="${customer.customerTypeName}"></option>
        </select>
        <input type="submit" value="Update">
    </form>
</div>

</body>
</html>